/* 
 * vim: expandtab sw=4 ts=4 sts=4:
 */

/* Body */

body {
    background-color: #FFFFFF;
    color: #000000;
    padding: 0;
    margin: 0;
}


/* Title */

h1 {
    background-color: #418DD4;
    color: #FFFFFF;
    border-bottom: 2px solid black;
    margin: 0;
    padding: 0.5em;
    text-shadow: 0 -1px 1px #222;
}


/* Toolbar */

ul.toolbar {
    border-bottom: 1px solid black;
    padding: 0 0 1.1em 0;
}
ul.toolbar li {
    margin: 0;
    margin-left: 0.5em;
    padding: 0;
    list-style-type: none;
    display: inline;
}
ul.toolbar li a, ul.toolbar li a:visited {
	background: #222 url(../images/oxygen/alert-overlay.png) repeat-x;
	display: inline-block;
	padding: 5px 10px 5px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
	text-shadow: 0 -1px 1px #222;
	border-bottom: 1px solid #222;
	position: relative;
	cursor: pointer;
}
ul.toolbar li a:hover {
    text-decoration: none;
    background-color: #111; color: #fff; 
}
ul.toolbar li a:active {
	top: 1px;
}


/* Message boxes */

div.notice, div.warning, div.error {
    margin: 0.5em;
    border: 0.1em solid;
    background-repeat: no-repeat;
    background-position: 1em 50%;
    padding: 1em 1em 1em 3em;
}

div.notice {
    color: #000000;
    border-color: #FFD700;
    background-color: #FFFFDD;
    background-image: url(../images/oxygen/notice.png);
}

div.warning {
    color: #CC0000;
    border-color: #CC0000;
    background-color: #FFFFCC;
    background-image: url(../images/oxygen/warning.png);
}

div.error {
    color: #ff0000;
    border-color:  #ff0000;
    background-color: #FFFFCC;
    background-image: url(../images/oxygen/error.png);
}

/* Forms */

fieldset {
    margin: 0.5em;
}

fieldset input[type="submit"] {
    clear: both;
    margin: 0.5em 0 0.5em 10em;
    text-align: center;
    float: left;
}

fieldset.filter input[type="submit"] {
    clear: none;
    float: right;
}

fieldset input[type="text"], fieldset textarea, fieldset select {
    float: left;
}

fieldset input[type="radio"], fieldset input[type="checkbox"] {
    float: left;
    clear: both;
}

fieldset.filter input[type="checkbox"] {
    clear: none;
}

fieldset label {
    float: left;
}

fieldset label.desc {
    width: 10em;
    clear: both;
}

fieldset.filter label.desc {
    width: auto;
    clear: none;
    padding-left: 1em;
    padding-right: 1em;
}

/* Listings */

table.listing {
    border: none;
    border-collapse: collapse;
    margin: 0.5em;
}

table.listing td {
    border: 1px solid black;
}

table.listing td.value, table.listing td.name, table.listing td.category, table.listing td.date {
    padding: 0 1em 0 1em;
}
table.listing td.number {
    text-align: right;
}
table.listing td.category {
    font-size: smaller;
}

table.listing td.action {
    width: auto;
}

.priority0 {
    background-color: #baf9ce;
}

.nopriority, .priority1 {
    background-color: #fcf1db;
}

.priority2 {
    background-color: #f7e6e6;
}

.closed, .closed a, .closed td {
    text-decoration: line-through;
}

table.listing a {
    color: black;
    display: block;
}
table.listing a.action {
    display: inline;
    padding: 0 0.5em 0 0.5em;
}
a.action img {
    border: none;
}

/* Settings form */
div.opts {
    margin: 1em;
}

div.opts label {
    float: left;
    width: 27em;
    max-width: 60%;
}

/* About page */
p {
    padding: 0 0 0 1.1em;
}

h3 {
    padding: 0 0 0 1.1em;
}
